*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    color: white;
    position: absolute;
    top: 18px;
    left: 15px;
    font-size: 2rem;
    font-weight: bold;
}

.logo span{
    color: #b711e0;
    text-shadow: 0 0 10px #b711e0;
}

.hamburg,
.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);

}

.nav-container .links a{
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    transition: 0.3s linear;
}

.nav-container .links a:hover{
    color: #b711e0;
    border-bottom: 2px solid #b711e0;
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.3s linear;
}

.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
}

.dropdown .links a{
    justify-content: center;
    align-items: center;
    transition: 0.3s linear;
}

.dropdown .links a:hover{
    background-color: #b711e0;
}

section{
width: 100%;
height: 90vh;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 85px;
    align-items: center;
}

.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
    box-shadow: 0 0 120px 50px black;
}


.content h1{
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span{
    font-weight: 700;
    color: #b711e0;
}

.content .typewriter{
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 700;
    margin: 10px 0;
}

.typewriter span{
    color: #b711e0;
}

.content p{
    font-size: clamp(0.8rem, 0.5rem + 3vw, 1.1rem);
    margin: 20px 0;
    width: 870px;
}

.social-links i{
    color: #b711e0;
    margin: 0 15px;
    font-size: 1.8rem;
    transition: 0.3s linear;
}

.social-links i:hover{
    filter: drop-shadow(0 0 10px #b711a0);
    scale: 1.3;
}
/* .social-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
} */

.content button{
    width: 50%;
    height: 6vh;
    margin: 30px;
    background-color: #b711e0;
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content button:hover{
    scale: 1.1;
    border: 2px solid #b711e0;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px 5px #b711e0;
}

.main-container .image{
    width: 500px;
    height: 80vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px #b711e0;
    z-index: -1;
}

.main-container .image img{
    width: 100%;
}

@media (max-width:884px) {
    .main-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg,.cancel{
        display: block;
    }

    .main-container .content{
        width: 80%;
    }

    .main-container .image{
        width: 60%;
        height: 70%;
    }

    .content button{
        margin: 15px 25%;
    }
}


@media (max-width:440px) {
    .main-container .image{
        width: 70%;
        height: 60%;
    }

    .main-container .content{
        width: 80%;
    }
    
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #b711e0;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b711e0;
    }
}

@keyframes words{
    0%, 20%{
        content: "Web Developer";
    }
    21%, 40%{
        content: "Developer";
    }
    41%, 60%{
        content: "React Developer";
    }
    61%, 80%{
        content: "DevOps Engineer";
    }
    81%, 100%{
        content: "Java Full Stack Developer";
    }
}